html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,
samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{
	border:0;
	font-size:100%;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
	display:block;
}

blockquote,q
{
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after
{
	content:none;
}

.clearfix:before,.clearfix:after
{
	content:"";
	display:table;
}

.clearfix
{
	zoom:1;
}

@font-face
{
	font-family:Artifika;
	font-style:normal;
	font-weight:400;
	src:local('Artifika Medium'), local(Artifika-Medium), url(fonts/Artifika-Regular.woff) format(woff), url(fonts/Artifika-Regular.ttf) format(truetype);
}

body
{
	margin-top:30px;
	font-size:13px;
	font-family:Century Gothic, sans-serif;
	color:#000;
	background:#eee url(../images/bg.png) repeat;
	text-shadow:0 1px 1px rgba(0,0,0,0.2);
	padding:0;
}

.justify
{
	text-align:justify;
}

.right
{
	text-align:right;
}

.nostart
{
	list-style-type:none;
	margin:0;
	padding:0;
}

br.clear
{
	clear:both;
	margin-top:-15px;
}

a
{
	outline:none;
	text-decoration:none;
	color:#A3443E;
}

.tagline_left
{
	float:left;
}

.tagline_right
{
	float:right;
}

img
{
	display:block;
	border:none;
	margin:0;
	padding:0;
}

.imgl,.imgr
{
	border:1px solid #C7C5C8;
	padding:5px;
}

.imgl
{
	float:left;
	clear:left;
	margin:0 8px 8px 0;
}

.imgr
{
	float:right;
	clear:right;
	margin:0 0 8px 8px;
}

div.main-container
{
	display:block;
	text-align:left;
	margin:0 0 1px;
}

div.main-container h1,div.main-container h2,div.main-container h3,div.main-container h4,div.main-container h5,div.main-container h6
{
	font-family:Artifika, Arial, Helvetica, sans-serif;
	font-weight:400;
	line-height:normal;
	margin:0 0 15px;
	padding:0;
}

h1
{
	font-size:30px;
}

h2
{
	font-size:28px;
}

h3
{
	font-size:26px;
}

h4
{
	font-size:24px;
}

h5
{
	font-size:22px;
}

h6
{
	font-size:18px;
}

header h1 a
{
	font-family:'ChunkFive Regular', Arial, Helvetica, sans-serif;
	font-size:75px;
	text-shadow:0 3px 3px #555;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	-ms-transition:all 200ms linear;
	transition:all 200ms linear;
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-o-transform:translateZ(0);
	-ms-transform:translateZ(0);
	transform:translateZ(0);
}

header h1 a:hover
{
	font-size:100px;
	-webkit-transform:scale(1.1) translateZ(0);
	-moz-transform:scale(1.1) translateZ(0);
	-o-transform:scale(1.1) translateZ(0);
	-ms-transform:scale(1.1) translateZ(0);
	transform:scale(1.1) translateZ(0);
}

#header1 h1 a
{
	font-family:'ChunkFive Regular', Arial, Helvetica, sans-serif;
	font-size:44px;
	text-shadow:0 3px 3px #555;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	-ms-transition:all 200ms linear;
	transition:all 200ms linear;
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-o-transform:translateZ(0);
	-ms-transform:translateZ(0);
	transform:translateZ(0);
}

#header1 h1 a:hover
{
	font-size:50px;
	-webkit-transform:scale(1.1) translateZ(0);
	-moz-transform:scale(1.1) translateZ(0);
	-o-transform:scale(1.1) translateZ(0);
	-ms-transform:scale(1.1) translateZ(0);
	transform:scale(1.1) translateZ(0);
}

#sub-headline
{
	border-bottom:1px solid #666;
	padding:15px 0;
}

#sub-headline .tagline_left
{
	margin:8px 0 0;
	padding:0;
}

#breadcrumb
{
	border-top:1px solid #666;
	border-bottom:1px solid #666;
	padding:20px 0;
}

#breadcrumb ul li.current a
{
	text-decoration:underline;
}

.container
{
	border-top:1px solid #666;
	border-bottom:1px solid #666;
	padding:30px 0;
}

.container1
{
	border-top:1px solid #666;
	padding:30px 0;
}

.box
{
	background-color:#FFF;
	border:1px solid #666;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:5px 5px 5px #ccc;
	-moz-box-shadow:5px 5px 5px #ccc;
	box-shadow:5px 5px 5px #ccc;
	padding:29px;
}

.content
{
	display:block;
	float:left;
	width:600px;
}

#comments
{
	margin-bottom:40px;
}

#comments .commentlist li.comment_odd,#comments .commentlist li.comment_even
{
	list-style:none;
	margin:0 0 10px;
	padding:15px;
}

#comments .commentlist li.comment_odd
{
	color:#666;
	background-color:#F7F7F7;
}

#comments .commentlist li.comment_odd a
{
	color:#A3443E;
	background-color:#F7F7F7;
}

#comments .commentlist li.comment_even
{
	color:#666;
	background-color:#E8E8E8;
}

#comments .commentlist li.comment_even a
{
	color:#A3443E;
	background-color:#E8E8E8;
}

#comments .commentlist .submitdate
{
	font-size:smaller;
}

#comments .commentlist p
{
	font-weight:400;
	text-transform:none;
	margin:10px 5px 10px 0;
	padding:0;
}

#comments .commentlist li .avatar
{
	float:right;
	border:1px solid #EEE;
	margin:0 0 0 10px;
}

.sidebar
{
	display:block;
	float:right;
	width:270px;
}

.sidebar .holder,.sidebar #featured
{
	display:block;
	width:270px;
	margin-bottom:20px;
}

.sidebar .holder h2.title
{
	display:block;
	width:100%;
	height:65px;
	font-size:20px;
	line-height:normal;
	border-bottom:1px dotted #666;
	margin:0;
	padding:15px 0 0;
}

.sidebar .holder h2.title img
{
	float:left;
	border:1px solid #666;
	margin:-15px 8px 0 0;
	padding:5px;
}

.sidebar div.imgholder
{
	display:block;
	width:260px;
	border:1px solid #666;
	margin:0 0 10px;
	padding:4px;
}

.sidebar .holder p.readmore
{
	display:block;
	width:100%;
	font-weight:700;
	text-align:right;
	line-height:normal;
}

.sidebar #featured li
{
	display:block;
	width:220px;
	margin:0;
	padding:20px 25px;
}

.sidebar #featured li p.imgholder
{
	display:block;
	width:210px;
	height:90px;
	border:1px solid #CCC;
	margin:20px 0 15px;
	padding:4px;
}

.sidebar #featured li h2
{
	font-weight:400;
	font-family:Artifika, Georgia, Times New Roman, Times, serif;
	line-height:normal;
	border-bottom:1px dotted #666;
	margin:0;
	padding:0 0 8px;
}

.sidebar #featured p.readmore
{
	display:block;
	width:100%;
	margin-top:15px;
	font-weight:700;
	text-align:right;
	line-height:normal;
}

.sidebar .latestnews
{
	display:block;
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
}

.sidebar .latestnews li
{
	display:block;
	width:100%;
	height:99px;
	border-bottom:1px dotted #C7C5C8;
	overflow:hidden;
	margin:0 0 11px;
	padding:0 0 21px;
}

.sidebar .latestnews img
{
	float:left;
	border:1px solid #C7C5C8;
	clear:left;
	margin:0 10px 0 0;
	padding:4px;
}

.grid-container
{
	background:url(../images/textured-light-bg.gif) repeat #f2f2f2;
	width:100%;
}

.grid
{
	width:100%;
	position:relative;
	display:block;
	margin:0 auto;
}

.grid h2,.grid p,.grid ul,.grid a
{
	font-weight:400;
	list-style:none;
	line-height:normal;
	margin:0;
	padding:0;
}

.grid h2
{
	font-size:16px;
	font-weight:400;
	margin-bottom:10px;
	padding-bottom:6px;
	border-bottom:1px dotted #585858;
	text-align:center;
}

.grid .latestgallery
{
	display:block;
	float:right;
	width:420px;
	margin:0;
	padding:0;
}

.grid .latestgallery h2
{
	margin-left:50px;
	text-align:center;
}

.grid .latestgallery li
{
	float:right;
	display:block;
	background:url(../images/image-frames-thumb.png) top left no-repeat;
	height:110px;
	width:160px;
	padding:4px;
}

.grid .footbox
{
	display:block;
	float:left;
	width:220px;
	margin:0 0 0 50px;
	padding:0;
}

.grid .footbox li
{
	color:#000;
	margin:22px 0 0;
}

.grid div.last,.grid .latestgallery li.last
{
	margin-right:0;
}

#social
{
	text-align:center;
}

.clearfix:after,.clear
{
	clear:both;
}

header,#header1
{
	text-align:center;
	text-transform:uppercase;
}

header h1,#header h1
{
	list-style:none;
	line-height:normal;
	margin:0;
	padding:0;
}

header p,#header1 p
{
	margin-top:-20px;
	font-size:20px;
}