<div class="appContainer box">
    <!-- part a: application logo-->
    <div class="appProjectLogo">
        <div class="logo">
            <img class="appSettings-padding" width="86" src="../static/lib/ui-lib/images/wix_icon.png" alt="cloudide"/>
        </div>
    </div>
    <!-- part b: application description -->
    <div class="appInfo">
        <div class="uilib-text" id="prjName"><strong>Project name</strong></div>
        <div class="uilib-input hidden" id="prjNameRename">Project new name here</div>
        <div class="uilib-text appDescription" id="prjDesctription">
            <strong>Project Description:</strong>
            This is a generic project description.
            It will appear with scrollable content,
            and it is not limited in terms of length.
            In this part, the user can add notes, descriptions, to-dos etc.
        </div>
    </div>
    <!-- part c: application control -->
    <div class="appCtrl">
        <div class="submit uilib-btn connect appCtrl-btn" id="cldEditorOpenBtn">
            Edit
        </div>
        <div class="submit uilib-btn connect appCtrl-btn" id="refreshBtn">
            Refresh
        </div>
    </div>
</div>