<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-large-preview">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Project settings</h4>
            </div>
            <div class="modal-body noPadding">
                <div class="input-group fullWidth">
                    <!--show preview-->
                    Preview of written code goes here!
                    This window has a fixed width of 980px like the sites recommended editable area on Wix end.
                    It will assist the developer by showing him as close-to-real as possible a representation
                    of what will be displayed on his live site.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
