/* cloud ide editor css */

#cldMenubar {
    background-color: #2b2b2b;
}

#cldSidebar {
    background-color: #313335;
}

.cldEditor {
    font-family: "Consolas", monospace;
    font-size: 14px;
    text-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
}

#cldEditorTextArea {
    border-width: 0px;
    position: relative;
    width: 100%;
    resize: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#cldStatusbar {
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
#cldEditor {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #c9de00;
    z-index: 2;
    font-family: "Consolas", monospace;
    font-size: 14px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.noLeftPadding {
    padding-left: 0;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.headerPadding {
    padding: 10px;
}
.showme {
    display: none;
}
.showhim:hover .showme {
    display : block;
}