.settingsHero {
    margin: auto;
    max-width: 600px;
    max-height: 600px;
    background-color: transparent;
}

.appContainer {
    width: 90%;
    margin: 5px auto;
    min-height:100px;
    align-self: center;
}
.appContainer:hover {
    background-color: rgba(0, 153, 255, 0.20);
}

.appContainer:active {
    background-color: rgba(0, 153, 255, 0.60);
}
.appContainerSelected {
    background-color: rgba(0, 153, 255, 0.60)!important;
    border-color: darkblue!important;;
}

.appLogo {
    -webkit-text-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
    text-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
}


.appLogoText {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size : 20px;
    font-weight : bolder;
    -webkit-text-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
    text-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
}



.glyphicon-1x{
    font-size: 20px;
}
.glyphicon-2x{
    font-size: 40px;
}
.glyphicon-3x{
    font-size: 60px;
}

.appProjectLogo {
    float: left;
    width : auto;
    clear: both;
    padding: 0px 0px 0px 0px;
    margin : 5px 20px 0px 0px;
}
.appInfo {
    float: left;
    width : auto;
    max-width: 60%;
    padding: 5px 5px 5px 5px;
    margin : 5px 5px 5px 5px;
}

.appDescription {
    float: left;
    width : auto;
    max-width: 100%;
    padding: 5px 5px 5px 5px;
    margin : 5px 5px 5px 5px;
    max-height : 50px;
}
.appCtrl {
    float: right;
    width : auto;
    padding: 5px 5px 5px 5px;
    margin : 5px 5px 5px 5px;
}
.appCtrl-btn {
    min-width: 50px;
    padding: 5px 5px 5px 5px;
    margin : 5px 5px 5px 5px;
    float: left;
    clear: both;
}
.appTop {
    margin-top: 10px;
    margin-bottom: 25px;
}
.autoMargin {
    margin: auto;
}

.fullWidth {
    width: 100%;
}

.projectName {
    white-space : nowrap;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paintGreen {
    color: green;
}

.paintDarkBlue {
    color: darkblue;
}

.paintTan {
    color: tan;
}
.floatRight {
    float: right;
}
.arrow_box {
    position: relative;
    background: #09f;
}
.arrow_box:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 153, 255, 0);
    border-right-color: #09f;
    border-width: 50px;
    margin-top: -50px;
}

#mainDiv {
    margin : 20px;
    padding : 20px;
}
.project-info {
    margin : 20px;
    padding : 0px;
    display: table-cell;
    vertical-align: middle;
    padding : 20px;
}
.edit-btn {
    font-size: 16px!important;
    padding: 6px 27px!important;
    max-width: 83px!important;
}
.glyphicon-plus {
    font-size:16px;
    min-width: 25px;
}
.edit-btn:hover {
    transition: background-color 0.5s!important;
    background-color : rgba(26%, 55%, 79%,0.5)!important;
    cursor: pointer!important;
}

.bs-callout {
    padding: 0px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 5px;
}
.project:hover {
    background-color : #F9F9FF!important;
    cursor: pointer!important;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.dashed {
    border-width:5px;
    border-style:dashed;
}
.fixed-height {
    height:94px;
}
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.nano > nano-content {
    padding: 0px;
}
.nano {
    margin-top: 5px;
}
