<div class="container-fluid">
    <div class="row">
        <!--Editor main -->
        <div class="noLeftPadding col-sm-12 col-md-12 main">
            <!-- CodeEditors Nav tabs -->
            <!-- code editors links will be initiated here -->
            <ul id="cldEditorTabs" class="nav nav-tabs tabs col-sm-offset-1 col-md-offset-1">
                <li class="active"><a href="#cldEditorHtml" data-toggle="tab">HTML</a></li>
                <li><a href="#cldEditorJs" data-toggle="tab">JavaScript</a></li>
                <li><a href="#cldEditorCss" data-toggle="tab">CSS</a></li>
            </ul>

            <!-- Tab panes -->
            <!-- code editors will be inserted dynamically here, in tabs-->
            <div class="tab-content cldEditor">
                <div class="tab-pane fade in active" id="cldEditorHtml">
                    <textarea id="cldEditorHtmlTextArea"></textarea>
                </div>
                <div class="tab-pane fade" id="cldEditorJs">
                    <textarea id="cldEditorJsTextArea"></textarea>
                </div>
                <div class="tab-pane fade" id="cldEditorCss">
                    <textarea id="cldEditorCssTextArea"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>