#* @vtlvariable name="cldAppSettings" type="com.wixpress.app.dao.AppSettings" *#
#* @vtlvariable name="appInstance" type="com.wixpress.app.domain.AppInstance" *#
#* @vtlvariable name="mode" type="java.lang.String" *#
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title> test </title>
    <!--Document properties -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Loading CSS definitions-- <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.css"/>  >

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


    <!-- Custom styles for this template -->
    <link href="../static/lib/assets/css/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../static/css/cloudide.editor.css"/>

    <link rel="stylesheet" href="../static/lib/codemirror/codemirror-4.0/lib/codemirror.css">
    <link rel="stylesheet" href="../static/lib/ui-lib/ui-lib.min.css"/>

</head>
<body>
<!--Header (Menu)-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="cldProjectName" class="navbar-brand noSelect">Project name</div>
        </div>
        <div class="navbar-collapse collapse">

            <!-- Fullscreen on/off toggle-->
            <div class="nav navbar-nav navbar-right headerPadding">
                <button type="button" class="btn btn-navbar btn-sm" onclick="_cldEditor.editorActions('toggleFullscreen')">
                    <span width="50" class="glyphicon glyphicon-resize-full cldFullscreenBtn"></span>
                    <span width="50" class="glyphicon glyphicon-resize-small cldFullscreenBtn hidden"></span>
                </button>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Settings</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="cldMenubarBttPreview" onclick="_cldEditor.preview() href="#"> Preview </a></li>
                <li><a id="cldMenubarBttSave" onclick="_cldEditor.save()" href="#"> Save </a></li>
                <!-- Button trigger modal -->
                #if($mode.equals("debug"))
                    #include("views/tests/editor/editorTestsModalButton.vm")
                #end
            </ul>
        </div>
    </div>
</div>
<!--Main (sidebar and editor)-->
<div class="container-fluid">
    <div class="row">
        <!--Sidebar -->
        <div class="col-sm-3 col-md-2 sidebar">
            <div id="cldProjectExplorer">
                <ul class="nav nav-sidebar">
                    <li><a href="#" onclick="_cldEditor.editorActions('createNewProject')">Create new Project</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <!-- List projects here -->
                    <!--<li class="active"><a href="#">Default Project</a></li>-->
                </ul>
            </div>
        </div>
        <!--Editor main -->
        <p>
        </p>
        <div class="noLeftPadding col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="container">
                <!-- CodeEditors Nav tabs -->
                <!-- code editors links will be initiated here -->
                <ul id="cldEditorTabs" class="nav nav-tabs tabs col-sm-offset-1 col-md-offset-1">
                    <li class="active"><a href="#cldEditorHtml" data-toggle="tab">HTML</a></li>
                    <li><a href="#cldEditorJs" data-toggle="tab">JavaScript</a></li>
                    <li><a href="#cldEditorCss" data-toggle="tab">CSS</a></li>
                </ul>

                <!-- Tab panes -->
                <!-- code editors will be inserted dynamically here, in tabs-->
                <div class="tab-content cldEditor">
                    <div class="tab-pane fade in active" id="cldEditorHtml">
                        <textarea id="cldEditorHtmlTextArea"></textarea>
                    </div>
                    <div class="tab-pane fade" id="cldEditorJs">
                        <textarea id="cldEditorJsTextArea"></textarea>
                    </div>
                    <div class="tab-pane fade" id="cldEditorCss">
                        <textarea id="cldEditorCssTextArea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer (Statusbar)-->
<div class="navbar-inverse navbar-fixed-bottom" role="status">
    <div class="container-fluid">
        <div id="cldStatusbar" class="input-xlarge center-block text-center" placeholder="Idle">Idle</div>
    </div>
</div>

<!-- jQuery dependency-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<!-- UNUSED


                                                 <script src="../static/lib/jquery/jquery-2.1.0.js"></script>
                                                      <script type="javascript" href="../static/lib/bootstrap/js/bootstrap.js"/>



-->

<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->


<!-- Bootstrap Imports -->
<script src="../static/lib/assets/js/docs.min.js"></script>
<script src="../static/lib/assets/js/holder.js"></script>

<!-- Imports -->
<script src="../static/lib/codemirror/codemirror-4.0/lib/codemirror.js"></script>
<script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.28.0/js/Wix.js"></script>
<script src="../static/js/cloudide.editor.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/lib/jquery/jquery.base64.min.js"></script>

<!-- Runtime Imports (TODO load dynamically) -->

<!-- CDN resources
<script src="http://ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js"></script>
<script src="https://rawgithub.com/zaach/jsonlint/79b553fb65c192add9066da64043458981b3972b/lib/jsonlint.js"></script>
<script src="https://rawgithub.com/stubbornella/csslint/master/release/csslint.js"></script>
-->
<script src="../static/lib/linter/jshint.js"></script>
<script src="../static/lib/linter/jsonlint.js"></script>
<script src="../static/lib/linter/csslint.js"></script>

<script src="../static/lib/codemirror/codemirror-4.0/mode/xml/xml.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/mode/css/css.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/mode/javascript/javascript.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/mode/htmlmixed/htmlmixed.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/edit/closebrackets.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/edit/matchbrackets.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/edit/closetag.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/edit/matchtags.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/lint/javascript-lint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/lint/css-lint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/lint/json-lint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/lint/lint.js"></script>

<link rel="stylesheet" href="../static/lib/codemirror/codemirror-4.0/addon/lint/lint.css">


<!-- CodeMirror Addons and Extensions -->
<script src="../static/lib/codemirror/codemirror-4.0/addon/hint/show-hint.js"></script>

<link rel="stylesheet" href="../static/lib/codemirror/codemirror-4.0/addon/hint/show-hint.css">


<script src="../static/lib/codemirror/codemirror-4.0/addon/hint/anyword-hint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/hint/javascript-hint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/hint/css-hint.js"></script>
<script src="../static/lib/codemirror/codemirror-4.0/addon/hint/html-hint.js"></script>


<!-- Modals loading on demand and by configuration-->
    #if($mode.equals("debug"))
        #include("views/tests/editor/editorTestsModal.vm")
    #end


<!-- Initialization of CloudIde 'Editor view' -->
<script type="text/javascript">
    //Create and bind global
    var settings = $!{cldAppSettings};
</script>
</body>
</html>