#* @vtlvariable name="message" type="java.lang.String" *#
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title> test </title>
    <!--Document properties -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
<!--Header-->
<h5>$!{message}</h5>


<!-- Initialization of message (context sensitive) -->
<script type="text/javascript">
    document.onload = function () {

    });
</script>
</body>
</html>