#* @vtlvariable name="appSettings" type="com.wixpress.app.dao.AppSettings" *#
#* @vtlvariable name="cloudIdeData" type="com.wixpress.app.dao.AppData" *#
#* @vtlvariable name="appInstance" type="com.wixpress.app.domain.AppInstance" *#
<!DOCTYPE html>
<html>
<head>
    <title>Cloud IDE Settings</title>
    <link type="text/css" rel="stylesheet" href="../static/css/cloudide.settings.css"/>
    <link rel="stylesheet" href="../static/js/ui-lib/ui-lib.min.css"/>
    <script type="text/javascript" href="../static/js/ui-lib/ui-lib.min.js" ></script>
</head>

<body>
<div class="settingsHero">
    <!-- This section is composed of two main parts:
    a. Logo - the icon that describes the app, this part won't change after login
    b. Login - this part contains two sections, which will be replaced according to the user login status - edit the loggedOut and loggedIn sections to describe the login process of your app.

    guest - the user did not connect his app to an account yet or to a specific URL.
    user - the user has already connected the app to an account or to a specific URL. -->
    <header class="box">
        <!-- part a: application logo-->
        <div class="logo">
           <img width="86" src="../static/js/ui-lib/images/wix_icon.png" alt="cloudide"/>
            <div class="icon-random" style="width:86"></div>
        </div>

        <!--
        <!-- part b: Connect account area
            <div class="loggedOut">
                <p>
                    Sample Settings view for widgets and pages created with <a href="http://dev.wix.com" target="_blank">Wix's 3rd Party SDK</a>,
                    compatible with Wix's product requirements.
                </p>
                <div class="login-panel">
                    <p class="create-account">Don't have an<br/>account? <a href="#"><strong>Create one</strong></a></p>
                    <button class="submit btn connect" id="connectBtn">Connect account</button>
                </div>
            </div>
            <div class="loggedIn hidden">
                <p>
                    You are now connected to <strong class="user-name">John Doe (john@doe.com)</strong> account<br/>
                    <a class="disconnect-account">Disconnect account</a>
                </p>
                <div class="premium">
                    <p class="premium-features">Premium features</p>
                    <button class="submit btn upgrade">Upgrade</button>
                </div>
            </div>
        -->
    </header>



<!-- Part 2 - Setting controls
Controls that can be changed to configure the Widget.
Main control is the accordion that contains panes that will be opened and closed
 according to your selection.
In each pane you can add different controls from the wix-ui-lib and
listen to events when they change, a few samples will be displayed later.
This part holds the settings panel -->

        <div class="submit uilib-btn connect" id="updateSettingsBtn">Update</div>
        <div class="submit uilib-btn connect" id="refreshBtn">Refresh</div>

</div>


    <!-- Part 3 - Libs that are usually used while developing the settings end point -->



    <!-- Wix SDK -->
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.28.0/js/Wix.js"></script>
    <!-- jQuery Dependency -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <!-- Wix UI -->
    <script type="text/javascript" src="../static/js/ui-lib/ui-lib.min.js"></script>
    <!-- Settings View Logic -->
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script type="text/javascript" src="../static/js/cloudide.settings.js"></script>

    <script type="text/javascript">
        var newAppSettings = $!{appSettings};
        var appData = $!{cloudIdeData};
    </script>
</body>
</html>