#* @vtlvariable name="appSettings" type="com.wixpress.app.dao.AppSettings" *#
#* @vtlvariable name="cloudIdeData" type="com.wixpress.app.dao.AppData" *#
<!DOCTYPE html>
<html>
<head>
    <title>${appSettings}.getTitle()} App</title>
    <link rel="stylesheet" href="../static/css/cloudide.editor.css"/>
    <!-- Imports -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.28.0/js/Wix.js"></script>
    <script src="../static/js/cloudide.widget.js"></script>
    <script src="../static/js/common.js"></script>

</head>

<body id="body">
<div id="hero"></div>



<!-- Initialization  -->
<script type="text/javascript">
    $(document).ready(function () {
        settings = ${appSettings};
        data = ${cloudIdeData};
        $('#body').append('<h1>test test</h1>');
        $('#hero').append(data.code);
    });

</script>
</body>
</html>